{% extends 'base.html' %}
{% load static %}
{% block content %}

<html lang="pl">
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>About page</title>
    <meta charset="UTF-8">
  </head>

  <body>
    <header>
      <h2>Da dove viene?</h2>
    </header>

    <p>Al contrario di quanto si pensi, Lorem Ipsum non è semplicemente una sequenza casuale di caratteri. Risale ad un classico della letteratura latina del 45 AC, cosa che lo rende vecchio di 2000 anni. Richard McClintock, professore di latino al Hampden-Sydney College in Virginia, ha ricercato una delle più oscure parole latine, consectetur, da un passaggio del Lorem Ipsum e ha scoperto tra i vari testi in cui è citata, la fonte da cui è tratto il testo, le sezioni 1.10.32 and 1.10.33 del "de Finibus Bonorum et Malorum" di Cicerone. Questo testo è un trattato su teorie di etica, molto popolare nel Rinascimento. La prima riga del Lorem Ipsum, "Lorem ipsum dolor sit amet..", è tratta da un passaggio della sezione 1.10.32.</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQa9uyMMdkV0oDvkTF3-9I_zt3yOVUAvtocLEWIHIUch_vJtpMEPQ" alt="obrazek" title="nazwa">

  </body>
</html>

{% endblock content %}
